@page {
	margin: 0.75in;
}

html {
	background: white;
	color: black;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
}

#nav, #head, span.title, div.ad, #home_link, #home_link a, #home_link a:after, #breadcrumbs {
	display: none;
}

code, pre {
	font-family: Menlo, Monaco, Courier New, Monospace;
	font-size: 70%;
}

pre {
	border-left: 2px solid #888;
	padding-left: 10px;
}

table {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

th, td {
	padding: 2px 6px;
	vertical-align: top;
}

td {
	text-align: center;
}

th {
	background: #ddd;
}

.last_modified:before {
	content: "Last Modified: "
}

.last_modified {
	display: block;
	text-align: right;
	font-size: 80%;
	font-style: italic;
}

/* Note that the url is usually printed by the browser anyway */
.ext, .title, .url {
	display: none;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:after	{
	position: relative;
	left: 6px;
	border-bottom: 1px solid #888;
	content: attr(href);
	margin-right: 12px;
}
